<h1 class="text-center form-header-gradient"> Update Work Information </h1>
<p class="text-center">Please provide the following information to update this work:</p>
<%= render partial: "form", locals: { action_name: "Update Work" } %>