<h1 class="text-center form-header-gradient"> Add a new work </h1>
<p class="text-center">Please provide the following information to create a work:</p>
<%= render partial: "form", locals: { action_name: "Create Work" } %>