<main class="text-center">
  <h1 class="font-weight-light mt-4">Welcome to Media Ranker</h1>
  <p class="lead text-black-50">Use the navigation links above to view works, login, and upvote.</p>

</main>