/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";

@import "**/*";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;800&display=swap');

// For all content
body {
  /* to aid in making the footer sticky */
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
  
  overflow-x:hidden; // get rid of horizontal scroll

  background: #fffcef;

  font-family: 'Exo 2', sans-serif;

  color:  #837d62;
}

h1, h2, h3 {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}

h4 {
  font-family: 'Exo 2', sans-serif;
}

h6 {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
}

.top-ten__header {
  border-bottom: 2px solid;
  border-bottom-color: currentcolor;
}

.album, .album a{
  color: #F04E3E;
  text-decoration: none;
  font-weight: 800;
}

.book, .book a {
  color: #FCCA64;
  font-weight: 800;
}

.movie, .movie a {
  color: #43ADA5;
  font-weight: 800;
}

.list-group-item {
  background: #fffcef;
}

a:hover {
  color:  #837d62;
  text-decoration: none;
}

// Header
.header-custom {
  color:  #837d62;
  background-color: #fff5c8;
  max-width: 100%;
  padding: 2rem 1rem 0.5rem 1rem;
  font-size: 50px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
}

.header-custom a {
  color:  #837d62;
}

.header-custom a:hover {
  color:  #837d62;
  text-decoration: none;
}

.header-logo__gradient{
  font-size: 50px;
  background: linear-gradient(90deg, rgba(240,78,62,1) 27%, rgba(252,202,100,1) 68%, rgba(67,173,165,1) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// Navbar
.navbar {
  min-height: 80px;
}

.navbar-logo, .navbar-custom a {
  font-size: large;
  color:  #837d62;
}

.navbar-custom {
  text-transform: uppercase;
  background-color: #fff5c8;
  color: #d5cba1;
}

.navbar-custom a {
  color: #d5cba1;
}

.navbar-custom a:hover {
  color: #837d62;
}

.navbar .navbar-nav > li > a {
  line-height: 50px;
}

// Table
.table-custom {
  color:  #837d62;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: #fff5c8;
}

// Homepage

/* Spotlight */
.spotlight {
  padding: 0 2rem 2rem 2rem;
}

/* Top Ten */
.top-ten__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2em;
}

// Footer
.footer {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 80px; /* Set the fixed height of the footer here */
  line-height: 20px; /* Vertically center the text there */
  background-color: #fff5c8;
  color: #d5cba1;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

.footer a {
  color: #d5cba1;
  text-decoration: underline;
}


// Forms
.hidden {
    display: none;
}

.btn-primary {
  background-color: #837d62;
  border: none;
}

.btn-primary:hover {
  background:  linear-gradient(90deg, rgba(240,78,62,1) 33%, rgba(252,202,100,1) 51%, rgba(67,173,165,1) 79%);
  color: #fffcef;
}

.inline {
  display: inline-block;
}

// Details page

.card-header {
  background: #fffcef;
  font-weight: 300;
}

.card {
  background: #fff5c8;
}